@import './base.less';

// main
.main {
  // 华为虚拟键盘
  // padding-bottom: 1.8rem;
}

.content {
  padding: 0.4rem;
}

// 列表
.list {
}

// 详情
.detail {
}

// 添加
.add {
}

// 添加成功
.page {
  height: 100%;
  box-sizing: border-box;
  > div:first-child {
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
}
.success {
  background: @white;
  height: 100%;
  .title {
    .px2px(font-size,40px);
    color: @black-1;
    font-weight: @font-weight-base;
    padding-bottom: 0.4267rem;
  }
  .text {
    .px2px(font-size,28px);
    color: @black-3;
  }
  .clear::after {
    clear: both;
  }
}
// components hook css
.fixedBtn {
  width: 100%;
  padding: 0.3733rem;
  background: @theme-color;
  color: @white;
  text-align: center;
  .px2px(font-size,32px);
}

.empty {
  text-align: center;
  .img {
  }
  .text {
  }
  .refresh {
    display: inline-block;
    background: @theme-color;
    color: @white;
    .px2px(font-size,32px);
  }
}
