@import './base.less';

// main
.main {
  // 华为虚拟键盘
  // padding-bottom: 1.8rem;
}

.content {
  padding: 0.4rem;
}

.paddingBottomX {
  padding-bottom: 0.90666667rem;
}

.popBottom {
  z-index: @maskLayer-z-index !important;
}

.bottomBtn {
  text-align: center;
  // background: @white;
  color: @black;
  .px2px(font-size,36px);

  div {
    padding: 30px;
    background: @white;
    &:first-child {
      border-radius: 32px 32px 4px 4px;
    }

    &:last-child {
      border-top: 0.16rem @border-style-base rgba(0, 0, 0, 0.4);
    }
  }
}

// 成功界面
.success {
  background: @white;
  height: 100%;
  .title {
    .px2px(font-size,40px);
    color: @black-1;
    font-weight: @font-weight-base;
    padding-bottom: 0.4267rem;
  }
  .text {
    .px2px(font-size,28px);
    color: @black-3;
  }
}
// components hook css
.navbarHook {
  border-bottom: @border-width-min solid @gray-5;
}
.navbarHook > div {
  background: @gray-2;
}
.fixedBtn {
  width: 100%;
  padding: 0.3733rem;
  background: @theme-color;
  color: @white;
  text-align: center;
  .px2px(font-size,32px);
}

.pageStatus {
  padding-top: 2.4533rem;
  text-align: center;
  img {
    width: 3.2rem;
    height: 2.7467rem;
  }
  .text {
    padding: 0.56rem 0 1.3867rem 0;
    .px2px(font-size,30px);
    color: @gray-4;
  }
  .refresh {
    display: inline-block;
    background: @theme-color;
    color: @white;
    .px2px(font-size,32px);
    padding: 0.2933rem 0.8267rem;
    border-radius: @border-radius-base;
  }
}

.loadingPageIcon {
  position: relative;
}
