.pageStatus .pageStatusIcon{
    height: 4.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.pageStatus .pageStatusIcon.failIcon{
    background-image: url(./images/fail.png);
}
.pageStatus .pageStatusIcon.nullIcon{
    background-image: url(./images/null.png);
}
.pageStatus p{
    padding: 0 0.4rem;
    text-align: center;
    font-size: 0.4rem;
    font-weight:400;
    color:rgba(153,153,153,1);
    line-height: 0.56rem;
    margin-top: 0.64rem;
    margin-bottom: 1.066667rem;
}
.pageStatus{
  padding-top: 2.24rem;
}